@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">  
</head>
<body>
    <!--Main canvas-->
    <div id="chart-container">
        <div class="jumbotron">
            <div class="container">
                <h1>Welcome to MPAT </h1>
                <h2>Mainframe Program Analysis Tool</h2>
                
                <p>Choose an opreation on navigation bar to start.</p>
            </div>
        </div>
    </div>   
    <!--  Modal -->
    <div class="modal modal-build fade" id="modal-successor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Build Successor
                    </h4>
                </div>
                <div class="modal-body">
                    <input id="ipt-build-successor" class="form-control" type="text" required="required"/>
                </div>
                <div class="modal-footer">                    
                    <button type="button" id="submit-build-successor" class="btn btn-primary">
                        <i class="fa fa-check-circle"></i>Build
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--  Modal -->
    <div class="modal modal-build fade" id="modal-predecessor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Build Predecessor
                    </h4>
                </div>
                <div class="modal-body">
                    <input id="ipt-build-predecessor" class="form-control" type="text" required="required" />
                </div>
                <div class="modal-footer">
                    <button type="button" id="submit-build-predecessor" class="btn btn-primary">
                        <i class="fa fa-check-circle"></i>Build
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    @*detail modal*@
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel">Node Detail</h5>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Rate</label>
                            <input class="form-control detail-field" id="details-rate" readonly="readonly">
                            <label for="message-text" class="form-control-label">Procs</label>
                            <textarea rows="4" cols="200" class="form-control detail-field" id="details-procs" readonly="readonly"></textarea>
                            <label for="message-text" class="form-control-label">Jcls</label>
                            <textarea rows="4" cols="200" class="form-control detail-field" id="details-jcls" readonly="readonly"></textarea>
                            <label for="message-text" class="form-control-label">Description</label>
                            <textarea rows="7" cols="200" class="form-control detail-field" id="details-desc" readonly="readonly"></textarea>
                            <text id="details-comment"></text>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    @*detail modal*@

    @*locate modal*@
    <div class="modal modal-build fade" id="locateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Locate Node
                    </h4>
                </div>
                <div class="modal-body">
                    <input id="ipt-locate-node" class="form-control" type="text" required="required" />
                    <text id="locate-comment"></text>
                </div>
                <div class="modal-footer">
                    <button type="button" id="submit-locate-node" class="btn btn-primary">
                        <i class="fa fa-check-circle"></i>Locate
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    @*locate modal*@
</body>
</html>

<script>
    $(function () {
       
    });
</script>

